@model IEnumerable<App.Models.TrainerCourse>
@{
    ViewBag.Title = "AssignedCourse";
}


<h2>View Your Courses are Assigned</h2>

<div class="form-group">
    @Html.ActionLink("Back to Home", "Index", "Home",
        null,
        new { @class = "btn btn-primary" })
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Category Name</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CourseName</td>
                <td>@item.Course.Category.Name</td>
            </tr>    
        }

    </tbody>
</table>